USE [master]
GO

WHILE EXISTS(select NULL from sys.databases where name='QLCHUYENBAY')
BEGIN
    DECLARE @SQL varchar(max)
    SELECT @SQL = COALESCE(@SQL,'') + 'Kill ' + Convert(varchar, SPId) + ';'
    FROM MASTER..SysProcesses
    WHERE DBId = DB_ID(N'QLCHUYENBAY') AND SPId <> @@SPId
    EXEC(@SQL)
    DROP DATABASE QLCHUYENBAY
END
GO
/****** Object:  Database [QLCHUYENBAY]    Script Date: 8/27/2020 3:59:07 PM ******/
CREATE DATABASE [QLCHUYENBAY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCHUYENBAY', FILENAME = N'D:\QLCHUYENBAY.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLCHUYENBAY_log', FILENAME = N'D:\QLCHUYENBAY.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCHUYENBAY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCHUYENBAY]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 8/27/2020 3:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USERNAME] [varchar](20) NOT NULL,
	[PASSWORD] [varchar](10) NOT NULL,
	[MANHANVIEN] [varchar](10) NOT NULL,
	[TYPE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUYENBAY]    Script Date: 8/27/2020 3:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENBAY](
	[MACHUYENBAY] [varchar](10) NOT NULL,
	[MATUYENBAY] [varchar](10) NOT NULL,
	[MAMAYBAY] [varchar](10) NOT NULL,
	[THOIGIANKHOIHANH] [datetime] NOT NULL,
	[THOIGIANBAY] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHUYENBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTCHUYENBAY]    Script Date: 8/27/2020 3:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTCHUYENBAY](
	[MACHUYENBAY] [varchar](10) NOT NULL,
	[MASANBAYTG] [varchar](10) NOT NULL,
	[THOIGIANDUNG] [int] NOT NULL,
	[GHICHU] [nvarchar](100) NULL,
 CONSTRAINT [PK_CTCHUYENBAY] PRIMARY KEY CLUSTERED 
(
	[MACHUYENBAY] ASC,
	[MASANBAYTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDOANHTHUTHANG]    Script Date: 8/27/2020 3:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDOANHTHUTHANG](
	[THANG] [int] NOT NULL,
	[NAM] [int] NOT NULL,
	[MACHUYENBAY] [varchar](10) NOT NULL,
	[SOVEBANDUOC] [int] NOT NULL,
	[DOANHTHU] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_CTDOANHTHUTHANG] PRIMARY KEY CLUSTERED 
(
	[THANG] ASC,
	[NAM] ASC,
	[MACHUYENBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOANHTHUNAM]    Script Date: 8/27/2020 3:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANHTHUNAM](
	[NAM] [int] NOT NULL,
	[DOANHTHU] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOANHTHUTHANG]    Script Date: 8/27/2020 3:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOANHTHUTHANG](
	[THANG] [int] NOT NULL,
	[NAM] [int] NOT NULL,
	[SOCHUYENBAY] [int] NOT NULL,
	[DOANHTHU] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_DOANHTHUTHANG] PRIMARY KEY CLUSTERED 
(
	[THANG] ASC,
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONGIA]    Script Date: 8/27/2020 3:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONGIA](
	[MATUYENBAY] [varchar](10) NOT NULL,
	[MAHANGVE] [varchar](10) NOT NULL,
	[DONGIA] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_DONGIA] PRIMARY KEY CLUSTERED 
(
	[MATUYENBAY] ASC,
	[MAHANGVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGVE]    Script Date: 8/27/2020 3:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGVE](
	[MAHANGVE] [varchar](10) NOT NULL,
	[TENHANGVE] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHANGVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 8/27/2020 3:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [varchar](10) NOT NULL,
	[TENKHACHHANG] [nvarchar](100) NOT NULL,
	[CMND] [varchar](20) NOT NULL,
	[SDT] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAYBAY]    Script Date: 8/27/2020 3:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAYBAY](
	[MAMAYBAY] [varchar](10) NOT NULL,
	[TENMAYBAY] [nvarchar](100) NOT NULL,
	[SOLUONGGHE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMAYBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 8/27/2020 3:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [varchar](10) NOT NULL,
	[TENNHANVIEN] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANBAY]    Script Date: 8/27/2020 3:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANBAY](
	[MASANBAY] [varchar](10) NOT NULL,
	[TENSANBAY] [nvarchar](100) NOT NULL,
	[TENTHANHPHO] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASANBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 8/27/2020 3:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[THOIGIANBAYTOITHIEU] [int] NULL,
	[SOSANBAYTGTOIDA] [int] NULL,
	[THOIGIANDUNGTOITHIEU] [int] NULL,
	[THOIGIANDUNGTOIDA] [int] NULL,
	[TGCHAMNHATDATVE] [int] NULL,
	[TGCHAMNHATHUYDATVE] [int] NULL,
	[SOSANBAYTOIDA] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINHTRANGVE]    Script Date: 8/27/2020 3:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTRANGVE](
	[MACHUYENBAY] [varchar](10) NOT NULL,
	[MAHANGVE] [varchar](10) NOT NULL,
	[TONGSOGHE] [int] NOT NULL,
	[SOGHETRONG] [int] NOT NULL,
 CONSTRAINT [PK_TINHTRANGVE] PRIMARY KEY CLUSTERED 
(
	[MACHUYENBAY] ASC,
	[MAHANGVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUYENBAY]    Script Date: 8/27/2020 3:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUYENBAY](
	[MATUYENBAY] [varchar](10) NOT NULL,
	[MASANBAYDI] [varchar](10) NOT NULL,
	[MASANBAYDEN] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATUYENBAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VECHUYENBAY]    Script Date: 8/27/2020 3:59:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VECHUYENBAY](
	[MAVE] [varchar](10) NOT NULL,
	[MAKHACHHANG] [varchar](10) NULL,
	[MACHUYENBAY] [varchar](10) NULL,
	[MAHANGVE] [varchar](10) NOT NULL,
	[GIATIEN] [decimal](18, 0) NOT NULL,
	[NGAYHUY] [date] NULL,
	[MANHANVIEN] [varchar](10) NULL,
	[NGAYGIOGD] [datetime] NULL,
	[LOAIVE] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
go
USE [QLCHUYENBAY]
GO
INSERT INTO [dbo].[THAMSO]([THOIGIANBAYTOITHIEU],[SOSANBAYTGTOIDA],[THOIGIANDUNGTOITHIEU],[THOIGIANDUNGTOIDA],[TGCHAMNHATDATVE],[TGCHAMNHATHUYDATVE],[SOSANBAYTOIDA])
VALUES(30,2,10,30,1,1,10)
GO
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASSWORD], [MANHANVIEN], [TYPE]) VALUES (N'admin', N'1', N'NV1', 0)
INSERT [dbo].[ACCOUNT] ([USERNAME], [PASSWORD], [MANHANVIEN], [TYPE]) VALUES (N'nhanvien1', N'1', N'NV2', 1)
GO
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN]) VALUES (N'NV1', N'Đỗ Văn Sơn')
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENNHANVIEN]) VALUES (N'NV2', N'Đào Ngọc Tân')
GO
INSERT [dbo].[SANBAY] ([MASANBAY], [TENSANBAY], [TENTHANHPHO]) VALUES (N'SB1', N'Nội Bài', N'Hà Nội')
INSERT [dbo].[SANBAY] ([MASANBAY], [TENSANBAY], [TENTHANHPHO]) VALUES (N'SB10', N'Cần Thơ', N'Cần Thơ')
INSERT [dbo].[SANBAY] ([MASANBAY], [TENSANBAY], [TENTHANHPHO]) VALUES (N'SB2', N'Tân Sân Nhất', N'TPHCM')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HANGVE__499237242C2AF541]    Script Date: 8/27/2020 3:59:09 PM ******/
ALTER TABLE [dbo].[HANGVE] ADD UNIQUE NONCLUSTERED 
(
	[TENHANGVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACHHAN__F67C8D0B9A343A15]    Script Date: 8/27/2020 3:59:09 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TUYENBAY]    Script Date: 8/27/2020 3:59:09 PM ******/
ALTER TABLE [dbo].[TUYENBAY] ADD  CONSTRAINT [UQ_TUYENBAY] UNIQUE NONCLUSTERED 
(
	[MASANBAYDI] ASC,
	[MASANBAYDEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT_NHANVIEN]
GO
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENBAY_MAYBAY] FOREIGN KEY([MAMAYBAY])
REFERENCES [dbo].[MAYBAY] ([MAMAYBAY])
GO
ALTER TABLE [dbo].[CHUYENBAY] CHECK CONSTRAINT [FK_CHUYENBAY_MAYBAY]
GO
ALTER TABLE [dbo].[CHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_CHUYENBAY_TUYENBAY] FOREIGN KEY([MATUYENBAY])
REFERENCES [dbo].[TUYENBAY] ([MATUYENBAY])
GO
ALTER TABLE [dbo].[CHUYENBAY] CHECK CONSTRAINT [FK_CHUYENBAY_TUYENBAY]
GO
ALTER TABLE [dbo].[CTCHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_CTCHUYENBAY_CHUYENBAY] FOREIGN KEY([MACHUYENBAY])
REFERENCES [dbo].[CHUYENBAY] ([MACHUYENBAY])
GO
ALTER TABLE [dbo].[CTCHUYENBAY] CHECK CONSTRAINT [FK_CTCHUYENBAY_CHUYENBAY]
GO
ALTER TABLE [dbo].[CTDOANHTHUTHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDOANHTHUTHANG_CHUYENBAY] FOREIGN KEY([MACHUYENBAY])
REFERENCES [dbo].[CHUYENBAY] ([MACHUYENBAY])
GO
ALTER TABLE [dbo].[CTDOANHTHUTHANG] CHECK CONSTRAINT [FK_CTDOANHTHUTHANG_CHUYENBAY]
GO
ALTER TABLE [dbo].[CTDOANHTHUTHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDOANHTHUTHANG_DOANHTHUTHANG] FOREIGN KEY([THANG], [NAM])
REFERENCES [dbo].[DOANHTHUTHANG] ([THANG], [NAM])
GO
ALTER TABLE [dbo].[CTDOANHTHUTHANG] CHECK CONSTRAINT [FK_CTDOANHTHUTHANG_DOANHTHUTHANG]
GO
ALTER TABLE [dbo].[DOANHTHUTHANG]  WITH CHECK ADD  CONSTRAINT [FK_DOANHTHUTHANG_DOANHTHUNAM] FOREIGN KEY([NAM])
REFERENCES [dbo].[DOANHTHUNAM] ([NAM])
GO
ALTER TABLE [dbo].[DOANHTHUTHANG] CHECK CONSTRAINT [FK_DOANHTHUTHANG_DOANHTHUNAM]
GO
ALTER TABLE [dbo].[DONGIA]  WITH CHECK ADD  CONSTRAINT [FK_DONGIA_HANGVE] FOREIGN KEY([MAHANGVE])
REFERENCES [dbo].[HANGVE] ([MAHANGVE])
GO
ALTER TABLE [dbo].[DONGIA] CHECK CONSTRAINT [FK_DONGIA_HANGVE]
GO
ALTER TABLE [dbo].[DONGIA]  WITH CHECK ADD  CONSTRAINT [FK_DONGIA_TUYENBAY] FOREIGN KEY([MATUYENBAY])
REFERENCES [dbo].[TUYENBAY] ([MATUYENBAY])
GO
ALTER TABLE [dbo].[DONGIA] CHECK CONSTRAINT [FK_DONGIA_TUYENBAY]
GO
ALTER TABLE [dbo].[TINHTRANGVE]  WITH CHECK ADD  CONSTRAINT [FK_TINHTRANGVE_CHUYENBAY] FOREIGN KEY([MACHUYENBAY])
REFERENCES [dbo].[CHUYENBAY] ([MACHUYENBAY])
GO
ALTER TABLE [dbo].[TINHTRANGVE] CHECK CONSTRAINT [FK_TINHTRANGVE_CHUYENBAY]
GO
ALTER TABLE [dbo].[TINHTRANGVE]  WITH CHECK ADD  CONSTRAINT [FK_TINHTRANGVE_HANGVE] FOREIGN KEY([MAHANGVE])
REFERENCES [dbo].[HANGVE] ([MAHANGVE])
GO
ALTER TABLE [dbo].[TINHTRANGVE] CHECK CONSTRAINT [FK_TINHTRANGVE_HANGVE]
GO
ALTER TABLE [dbo].[TUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_MASANBAYDEN_TUYENBAY] FOREIGN KEY([MASANBAYDEN])
REFERENCES [dbo].[SANBAY] ([MASANBAY])
GO
ALTER TABLE [dbo].[TUYENBAY] CHECK CONSTRAINT [FK_MASANBAYDEN_TUYENBAY]
GO
ALTER TABLE [dbo].[TUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_MASANBAYDI_TUYENBAY] FOREIGN KEY([MASANBAYDI])
REFERENCES [dbo].[SANBAY] ([MASANBAY])
GO
ALTER TABLE [dbo].[TUYENBAY] CHECK CONSTRAINT [FK_MASANBAYDI_TUYENBAY]
GO
ALTER TABLE [dbo].[VECHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_VECHUYENBAY_CHUYENBAY] FOREIGN KEY([MACHUYENBAY])
REFERENCES [dbo].[CHUYENBAY] ([MACHUYENBAY])
GO
ALTER TABLE [dbo].[VECHUYENBAY] CHECK CONSTRAINT [FK_VECHUYENBAY_CHUYENBAY]
GO
ALTER TABLE [dbo].[VECHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_VECHUYENBAY_HANGVE] FOREIGN KEY([MAHANGVE])
REFERENCES [dbo].[HANGVE] ([MAHANGVE])
GO
ALTER TABLE [dbo].[VECHUYENBAY] CHECK CONSTRAINT [FK_VECHUYENBAY_HANGVE]
GO
ALTER TABLE [dbo].[VECHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_VECHUYENBAY_KHACHHANG] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[VECHUYENBAY] CHECK CONSTRAINT [FK_VECHUYENBAY_KHACHHANG]
GO
ALTER TABLE [dbo].[VECHUYENBAY]  WITH CHECK ADD  CONSTRAINT [FK_VECHUYENBAY_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[VECHUYENBAY] CHECK CONSTRAINT [FK_VECHUYENBAY_NHANVIEN]
GO

/****** Object:  Trigger [dbo].[INSERT_DOANHTHUNAM_WHEN_INSERT_CHUYENBAY]    Script Date: 8/27/2020 3:59:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--------------------------------------------TRIGGER---------------------------------------------------

CREATE TRIGGER [dbo].[INSERT_DOANHTHUNAM_WHEN_INSERT_CHUYENBAY]
ON [dbo].[CHUYENBAY]
FOR INSERT
AS
BEGIN
	DECLARE @NAM int= (SELECT YEAR(THOIGIANKHOIHANH) FROM INSERTED)
	DECLARE @COUNT INT = (SELECT COUNT(*) FROM DOANHTHUNAM WHERE NAM=@NAM)
	IF(@COUNT=0)
	BEGIN
		INSERT INTO DOANHTHUNAM(NAM, DOANHTHU) VALUES(@NAM, 0)
	END
END

GO
ALTER TABLE [dbo].[CHUYENBAY] ENABLE TRIGGER [INSERT_DOANHTHUNAM_WHEN_INSERT_CHUYENBAY]
GO
/****** Object:  Trigger [dbo].[INSERT_DOANHTHUNAM_WHEN_UPDATE_CHUYENBAY]    Script Date: 8/27/2020 3:59:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[INSERT_DOANHTHUNAM_WHEN_UPDATE_CHUYENBAY]
ON [dbo].[CHUYENBAY]
FOR UPDATE
AS
BEGIN
	DECLARE @NAM int= (SELECT YEAR(THOIGIANKHOIHANH) FROM INSERTED)
	DECLARE @COUNT INT = (SELECT COUNT(*) FROM DOANHTHUNAM WHERE NAM=@NAM)
	IF(@COUNT=0)
	BEGIN
		INSERT INTO DOANHTHUNAM(NAM, DOANHTHU) VALUES(@NAM, 0)
	END
END

GO
ALTER TABLE [dbo].[CHUYENBAY] ENABLE TRIGGER [INSERT_DOANHTHUNAM_WHEN_UPDATE_CHUYENBAY]
GO
/****** Object:  Trigger [dbo].[INSERT_DOANHTHUTHANG_WHEN_INSERT_CHUYENBAY]    Script Date: 8/27/2020 3:59:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[INSERT_DOANHTHUTHANG_WHEN_INSERT_CHUYENBAY]
ON [dbo].[CHUYENBAY]
FOR INSERT
AS
BEGIN
	DECLARE @NAM int= (SELECT YEAR(THOIGIANKHOIHANH) FROM INSERTED)
	DECLARE @THANG int= (SELECT MONTH(THOIGIANKHOIHANH) FROM INSERTED)
	DECLARE @COUNT INT = (SELECT COUNT(*) FROM DOANHTHUTHANG WHERE NAM=@NAM AND THANG=@THANG)
	IF(@COUNT=0)
	BEGIN
		INSERT INTO DOANHTHUTHANG(THANG, NAM, SOCHUYENBAY, DOANHTHU) VALUES(@THANG, @NAM, 0, 0)
	END
END

GO
ALTER TABLE [dbo].[CHUYENBAY] ENABLE TRIGGER [INSERT_DOANHTHUTHANG_WHEN_INSERT_CHUYENBAY]
GO
/****** Object:  Trigger [dbo].[INSERT_DOANHTHUTHANG_WHEN_UPDATE_CHUYENBAY]    Script Date: 8/27/2020 3:59:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[INSERT_DOANHTHUTHANG_WHEN_UPDATE_CHUYENBAY]
ON [dbo].[CHUYENBAY]
FOR UPDATE
AS
BEGIN
	DECLARE @NAM int= (SELECT YEAR(THOIGIANKHOIHANH) FROM INSERTED)
	DECLARE @THANG int= (SELECT MONTH(THOIGIANKHOIHANH) FROM INSERTED)
	DECLARE @COUNT INT = (SELECT COUNT(*) FROM DOANHTHUTHANG WHERE NAM=@NAM AND THANG=@THANG)
	IF(@COUNT=0)
	BEGIN
		INSERT INTO DOANHTHUTHANG(THANG, NAM, SOCHUYENBAY, DOANHTHU) VALUES(@THANG, @NAM, 0, 0)
	END
END

GO
ALTER TABLE [dbo].[CHUYENBAY] ENABLE TRIGGER [INSERT_DOANHTHUTHANG_WHEN_UPDATE_CHUYENBAY]
GO
/****** Object:  Trigger [dbo].[INSERT_CTDOANHTHUTHANG_WHEN_INSERT_CHUYENBAY]    Script Date: 8/27/2020 3:59:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[INSERT_CTDOANHTHUTHANG_WHEN_INSERT_CHUYENBAY]
ON [dbo].[CHUYENBAY]
FOR INSERT
AS
BEGIN
	DECLARE @NAM int= (SELECT YEAR(THOIGIANKHOIHANH) FROM INSERTED)
	DECLARE @THANG int= (SELECT MONTH(THOIGIANKHOIHANH) FROM INSERTED)
	DECLARE @MACHUYENBAY VARCHAR(10)= (SELECT MACHUYENBAY FROM INSERTED)
	DECLARE @COUNT INT = (SELECT COUNT(*) FROM CTDOANHTHUTHANG WHERE NAM=@NAM AND THANG=@THANG AND MACHUYENBAY=@MACHUYENBAY)
	IF(@COUNT=0)
	BEGIN
		INSERT INTO CTDOANHTHUTHANG(THANG, NAM, MACHUYENBAY, SOVEBANDUOC, DOANHTHU) VALUES(@THANG, @NAM, @MACHUYENBAY, 0, 0)
	END
END

GO
ALTER TABLE [dbo].[CHUYENBAY] ENABLE TRIGGER [INSERT_CTDOANHTHUTHANG_WHEN_INSERT_CHUYENBAY]
GO
/****** Object:  Trigger [dbo].[INSERT_CTDOANHTHUTHANG_WHEN_UPDATE_CHUYENBAY]    Script Date: 8/27/2020 3:59:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[INSERT_CTDOANHTHUTHANG_WHEN_UPDATE_CHUYENBAY]
ON [dbo].[CHUYENBAY]
FOR UPDATE
AS
BEGIN
	DECLARE @NAM int= (SELECT YEAR(THOIGIANKHOIHANH) FROM INSERTED)
	DECLARE @THANG int= (SELECT MONTH(THOIGIANKHOIHANH) FROM INSERTED)
	DECLARE @MACHUYENBAY VARCHAR(10)= (SELECT MACHUYENBAY FROM INSERTED)
	DECLARE @COUNT INT = (SELECT COUNT(*) FROM CTDOANHTHUTHANG WHERE NAM=@NAM AND THANG=@THANG AND MACHUYENBAY=@MACHUYENBAY)
	IF(@COUNT=0)
	BEGIN
		INSERT INTO CTDOANHTHUTHANG(THANG, NAM, MACHUYENBAY, SOVEBANDUOC, DOANHTHU) VALUES(@THANG, @NAM, @MACHUYENBAY, 0, 0)
	END
END

GO
ALTER TABLE [dbo].[CHUYENBAY] ENABLE TRIGGER [INSERT_CTDOANHTHUTHANG_WHEN_UPDATE_CHUYENBAY]
GO
/****** Object:  Trigger [dbo].[UPDATE_DOANHTHUTHANG_WHEN_UPDATE_CTDOANHTHUTHANG]    Script Date: 8/27/2020 3:59:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[UPDATE_DOANHTHUTHANG_WHEN_UPDATE_CTDOANHTHUTHANG]
ON [dbo].[CTDOANHTHUTHANG]
FOR UPDATE
AS
BEGIN
	DECLARE @THANG int=(SELECT THANG FROM INSERTED)
	DECLARE @NAM int=(SELECT NAM FROM INSERTED)
	DECLARE @DOANHTHU DECIMAL =(SELECT SUM(DOANHTHU) FROM CTDOANHTHUTHANG WHERE NAM=@NAM AND THANG=@THANG)
	DECLARE @SOCHUYENBAY INT =(SELECT COUNT(MACHUYENBAY) FROM CHUYENBAY WHERE YEAR(THOIGIANKHOIHANH)=@NAM AND MONTH(THOIGIANKHOIHANH)=@THANG)
	UPDATE DOANHTHUTHANG SET DOANHTHU=@DOANHTHU, SOCHUYENBAY=@SOCHUYENBAY WHERE NAM=@NAM AND THANG=@THANG
END

GO
ALTER TABLE [dbo].[CTDOANHTHUTHANG] ENABLE TRIGGER [UPDATE_DOANHTHUTHANG_WHEN_UPDATE_CTDOANHTHUTHANG]
GO
/****** Object:  Trigger [dbo].[UPDATE_DOANHTHUNAM_WHEN_UPDATE_DOANHTHUTHANG]    Script Date: 8/27/2020 3:59:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[UPDATE_DOANHTHUNAM_WHEN_UPDATE_DOANHTHUTHANG]
ON [dbo].[DOANHTHUTHANG]
FOR UPDATE
AS
BEGIN
	DECLARE @NAM int=(SELECT NAM FROM INSERTED)
	DECLARE @DOANHTHU DECIMAL =(SELECT SUM(DOANHTHU) FROM DOANHTHUTHANG WHERE NAM=@NAM)
	UPDATE DOANHTHUNAM SET DOANHTHU=@DOANHTHU WHERE NAM=@NAM
END

GO
ALTER TABLE [dbo].[DOANHTHUTHANG] ENABLE TRIGGER [UPDATE_DOANHTHUNAM_WHEN_UPDATE_DOANHTHUTHANG]
GO
/****** Object:  Trigger [dbo].[INSERT_CTDOANHTHUTHANG_WHEN_INSERT_VECHUYENBAY]    Script Date: 8/27/2020 3:59:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[INSERT_CTDOANHTHUTHANG_WHEN_INSERT_VECHUYENBAY]
ON [dbo].[VECHUYENBAY]
FOR INSERT
AS
BEGIN
	DECLARE @MACHUYENBAY VARCHAR(10)=(SELECT MACHUYENBAY FROM INSERTED)
	DECLARE @GIATIEN DECIMAL =(SELECT GIATIEN FROM INSERTED)
	DECLARE @SOVEBANDUOC INT =(SELECT COUNT(MAVE) FROM VECHUYENBAY WHERE MACHUYENBAY=@MACHUYENBAY)
	UPDATE CTDOANHTHUTHANG SET DOANHTHU+=@GIATIEN, SOVEBANDUOC=@SOVEBANDUOC WHERE MACHUYENBAY=@MACHUYENBAY
END

GO
ALTER TABLE [dbo].[VECHUYENBAY] ENABLE TRIGGER [INSERT_CTDOANHTHUTHANG_WHEN_INSERT_VECHUYENBAY]
GO
/****** Object:  Trigger [dbo].[UPDATE_CTDOANHTHUTHANG_WHEN_DELETE_VECHUYENBAY]    Script Date: 8/27/2020 3:59:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[UPDATE_CTDOANHTHUTHANG_WHEN_DELETE_VECHUYENBAY]
ON [dbo].[VECHUYENBAY]
FOR DELETE
AS
BEGIN
	DECLARE @MACHUYENBAY VARCHAR(10)=(SELECT MACHUYENBAY FROM INSERTED)
	DECLARE @GIATIEN DECIMAL =(SELECT GIATIEN FROM INSERTED)
	DECLARE @SOVEBANDUOC INT =(SELECT COUNT(MAVE) FROM VECHUYENBAY WHERE MACHUYENBAY=@MACHUYENBAY)
	UPDATE CTDOANHTHUTHANG SET DOANHTHU+=@GIATIEN, SOVEBANDUOC=@SOVEBANDUOC WHERE MACHUYENBAY=@MACHUYENBAY
END
GO
ALTER TABLE [dbo].[VECHUYENBAY] ENABLE TRIGGER [UPDATE_CTDOANHTHUTHANG_WHEN_DELETE_VECHUYENBAY]
GO
/****** Object:  Trigger [dbo].[UPDATE_TINHTRANGVE_WHEN_DELETE_VECHUYENBAY]    Script Date: 8/27/2020 3:59:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UPDATE_TINHTRANGVE_WHEN_DELETE_VECHUYENBAY]
ON [dbo].[VECHUYENBAY]
FOR DELETE
AS
BEGIN
	DECLARE @MACHUYENBAY VARCHAR(10)=(SELECT MACHUYENBAY FROM INSERTED)
	DECLARE @MAHANGVE VARCHAR(10)=(SELECT MAHANGVE FROM INSERTED)
	DECLARE @TONGSOGHE INT =(SELECT TONGSOGHE FROM TINHTRANGVE WHERE MACHUYENBAY=@MACHUYENBAY AND MAHANGVE=@MAHANGVE)
	DECLARE @SOGHEMUA INT =(SELECT COUNT(MAVE) FROM VECHUYENBAY WHERE MACHUYENBAY=@MACHUYENBAY AND MAHANGVE=@MAHANGVE)
	UPDATE TINHTRANGVE SET SOGHETRONG=SOGHETRONG+1 WHERE MACHUYENBAY=@MACHUYENBAY AND MAHANGVE=@MAHANGVE
END
GO
ALTER TABLE [dbo].[VECHUYENBAY] ENABLE TRIGGER [UPDATE_TINHTRANGVE_WHEN_DELETE_VECHUYENBAY]
GO
/****** Object:  Trigger [dbo].[UPDATE_TINHTRANGVE_WHEN_INSERT_VECHUYENBAY]    Script Date: 8/27/2020 3:59:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[UPDATE_TINHTRANGVE_WHEN_INSERT_VECHUYENBAY]
ON [dbo].[VECHUYENBAY]
FOR INSERT
AS
BEGIN
	DECLARE @MACHUYENBAY VARCHAR(10)=(SELECT MACHUYENBAY FROM INSERTED)
	DECLARE @MAHANGVE VARCHAR(10)=(SELECT MAHANGVE FROM INSERTED)
	DECLARE @TONGSOGHE INT =(SELECT TONGSOGHE FROM TINHTRANGVE WHERE MACHUYENBAY=@MACHUYENBAY AND MAHANGVE=@MAHANGVE)
	DECLARE @SOGHEMUA INT =(SELECT COUNT(MAVE) FROM VECHUYENBAY WHERE MACHUYENBAY=@MACHUYENBAY AND MAHANGVE=@MAHANGVE)
	UPDATE TINHTRANGVE SET SOGHETRONG=@TONGSOGHE-@SOGHEMUA WHERE MACHUYENBAY=@MACHUYENBAY AND MAHANGVE=@MAHANGVE
END
GO
ALTER TABLE [dbo].[VECHUYENBAY] ENABLE TRIGGER [UPDATE_TINHTRANGVE_WHEN_INSERT_VECHUYENBAY]
GO
USE [master]
GO
select * from THAMSO